<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
  <listeners>
  	<listener class-name="Utilities.ExtentReportManager" />
  </listeners> 
  <test  name="Test">
  <parameter name="browser" value="chrome"/>


  <!-- 	<groups>
		<run>	
			<include name="Common"></include>	 
						
		</run>
	</groups> -->
	<classes>
					
			  <class name="testCases.FacebookLoginTest" />  
			  <!-- <class name="PageAutomation.My_Profile" /> -->
			<!--   <class name="PageAutomation.Assessment" /> -->
			
			  
			 
  </classes>
    
  </test> 
</suite> 
